.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--md-spacing), 1fr)
    [contain-start] minmax(0, 1400px) [contain-end]
    minmax(var(--md-spacing), 1fr) [full-end];
  margin: 0 auto;
}

.full {
  grid-column: full;
}

.contain {
  grid-column: contain;
}
