.center {
  text-align: center;
}

.search {
  margin: var(--lg-spacing) auto;
  max-width: 992px;
  min-height: 600px;
  position: relative;
}

.observerTarget {
  bottom: 100px;
  left: 0;
  min-height: 100px;
  position: absolute;
  right: 0;
}
